head
  // Basic page needs
  meta(charset='utf-8')
  //if IE
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title ShopMart premium HTML5 & CSS3 template
  meta(name='description', content='best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template')
  meta(name='keywords', content='bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template')
  // Mobile specific metas
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // Favicon
  link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
  // CSS Style
  link(rel='stylesheet', href='style.css')
// mobile menu
#jtv-mobile-menu
  ul
    li
      .jtv-search-mob
        form#search1(name='search')
          .input-group
            .input-group-btn
              button.btn.btn-default(type='submit')
                i.fa.fa-search
            input#srch-term.form-control.simple(type='text', placeholder='Search ...', name='srch-term')
    li
      a(href='index.html') Home
      ul
        li
          a(href='../index.html')
            span Home Version 1
        li
          a(href='../version2/index.html')
            span Home Version 2
        li
          a(href='../version3/index.html')
            span Home Version 3
        li
          a(href='index.html')
            span Home Version 4
    li
      a(href='#') Pages
      ul
        li
          a(href='shop_grid.html')
            span Shop Grid
          ul
            li
              a(href='shop_grid_right.html')
                span Shop Grid Right Sidebar
            li
              a(href='shop_grid_fullwidth.html')
                span Shop Grid Fullwidth
        li
          a(href='shop_list.html')
            span Shop List
          ul
            li
              a(href='shop_list_right.html')
                span Shop List Right Sidebar
        li
          a(href='single_product.html')
            span Single Product
        li
          a(href='shopping_cart.html')
            span Shopping Cart
        li
          a(href='checkout.html')
            span Checkout
        li
          a(href='wishlist.html')
            span Wishlist
        li
          a(href='compare.html')
            span Compare
        li
          a(href='quick_view.html')
            span Quick View
        li
          a(href='404error.html')
            span 404 Error Page
    li
      a(href='#') Smartphones
      ul
        li
          a(href='shop_grid.html')
            span tassel saddle bag
          ul
            li
              a(href='shop_grid.html')
                span Toaster Crossbody
            li
              a(href='shop_grid.html')
                span Piper Bag
            li
              a(href='shop_grid.html')
                span Leather Bag
            li
              a(href='shop_grid.html')
                span Canvas Bag
        li
          a(href='shop_grid.html')
            span bucket bag
          ul
            li
              a(href='shop_grid.html')
                span Travel Accessories
            li
              a(href='shop_grid.html')
                span Gym Bags
            li
              a(href='shop_grid.html')
                span Fashion Waist Packs
            li
              a(href='shop_grid.html')
                span Messenger Bags
        li
          a(href='shop_grid.html')
            span saddle bag
          ul
            li
              a(href='shop_grid.html')
                span Travel Duffels
            li
              a(href='shop_grid.html')
                span Umbrellas
            li
              a(href='shop_grid.html')
                span Waist Packs
            li
              a(href='shop_grid.html')
                span Travel Gear
        li
          a(href='shop_grid.html')
            span curved boxy sling
          ul
            li
              a(href='shop_grid.html')
                span Luggage
            li
              a(href='shop_grid.html')
                span Briefcases
            li
              a(href='shop_grid.html')
                span Bowling
            li
              a(href='shop_grid.html')
                span Bucket Bag
        li
          a(href='shop_grid.html')
            span floral lattice bag
          ul
            li
              a(href='shop_grid.html')
                span Crossbody Bag
            li
              a(href='shop_grid.html')
                span Clutch Handbag
            li
              a(href='shop_grid.html')
                span Hobo Shoulder
            li
              a(href='shop_grid.html')
                span Saddle Bag
        li
          a(href='shop_grid.html')
            span Bag Accessories
          ul
            li
              a(href='shop_grid.html')
                span Wallet Wristlet
            li
              a(href='shop_grid.html')
                span Solo Premium 
            li
              a(href='shop_grid.html')
                span Laptop Bags
            li
              a(href='shop_grid.html')
                span Belts
    li
      a(href='shop_grid.html') Camera & Photo
      ul
        li
          a(href='shop_grid.html')
            span Steve Madden
          ul
            li
              a(href='shop_grid.html')
                span Elegant 
            li
              a(href='shop_grid.html')
                span sassy & chic
            li
              a(href='shop_grid.html')
                span Women's Satchel
            li
              a(href='shop_grid.html')
                span Shoulder Bag
        li
          a(href='shop_grid.html')
            span College Bags
          ul
            li
              a(href='shop_grid.html')
                span fashion Backpack
            li
              a(href='shop_grid.html')
                span Rose Gold Saffiano
            li
              a(href='shop_grid.html')
                span Black Velvet
            li
              a(href='shop_grid.html')
                span Leather Handbags
        li
          a(href='shop_grid.html')
            span Material Bag
          ul
            li
              a(href='shop_grid.html')
                span Sling Bag
            li
              a(href='shop_grid.html')
                span Diaper Bags
            li
              a(href='shop_grid.html')
                span Laptop Backpack
            li
              a(href='shop_grid.html')
                span Benetton Black 
        li
          a(href='shop_grid.html')
            span Lino Perros
          ul
            li
              a(href='shop_grid.html')
                span Graphite Croco
            li
              a(href='shop_grid.html')
                span Swiss Military Red
            li
              a(href='shop_grid.html')
                span Hidesign
            li
              a(href='shop_grid.html')
                span Benetton
        li
          a(href='shop_grid.html')
            span Aquatan
          ul
            li
              a(href='shop_grid.html')
                span Travel Blue
            li
              a(href='shop_grid.html')
                span Charles & Keith
            li
              a(href='shop_grid.html')
                span Clutches
            li
              a(href='shop_grid.html')
                span wristlets
        li
          a(href='shop_grid.html')
            span Kenneth Cole
          ul
            li
              a(href='shop_grid.html')
                span wallets
            li
              a(href='shop_grid.html')
                span shoulder bags
            li
              a(href='shop_grid.html')
                span leather totes
            li
              a(href='shop_grid.html')
                span satchels
    li
      a(href='shop_grid.html') Laptop bags
    li
      a(href='shop_grid.html') Apple Store
    li
      a(href='shop_grid.html') Computers
  .jtv-top-link-mob
    ul.links
      li
        a(title='My Account', href='account_page.html') My Account
      li
        a(title='Wishlist', href='wishlist.html') Wishlist
      li
        a(title='Checkout', href='checkout.html') Checkout
      li
        a(title='Blog', href='blog.html')
          span Blog
      li.last
        a(title='Login', href='account_page.html')
          span Login
#page
  //if lt IE 8
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
  // Header
  header
    .header-container
      .header-top
        .container
          .row
            // Header Language
            .col-xs-12.col-sm-6
              .welcome-msg Welcome to ShopMart! 
              .dropdown.jtv-language-box
                a.block-language.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                  img(src='images/flag-english.jpg', alt='language')
                  |  English 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a.selected(href='#')
                      img(src='./public/images/flag-english.jpg', alt='flag')
                      span English
                  li
                    a(href='#')
                      img(src='./public/images/flag-default.jpg', alt='flag')
                      span French
                  li
                    a(href='#')
                      img(src='./public/images/flag-german.jpg', alt='flag')
                      span German
                  li
                    a(href='#')
                      img(src='./public/images/flag-brazil.jpg', alt='flag')
                      span Brazil
                  li
                    a(href='#')
                      img(src='./public/images/flag-chile.jpg', alt='flag')
                      span Chile
                  li
                    a(href='#')
                      img(src='../public/images/flag-spain.jpg', alt='flag')
                      span Spain
              // End Header Language
              // Header Currency
              .dropdown.jtv-currency-box
                a.block-currency.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                  | USD 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#')  $ - Dollar 
                  li
                    a(href='#')  £ - Pound 
                  li
                    a(href='#')  € - Euro 
              // End Header Currency
            .col-xs-6.hidden-xs
              // Header Top Links
              .jtv-top-links
                .links
                  ul
                    li
                      a(title='My Account', href='account_page.html')
                        span.hidden-xs My Account
                    li
                      a(title='Wishlist', href='wishlist.html') Wishlist
                    li
                      a(title='Checkout', href='checkout.html')
                        span.hidden-xs Checkout
                    li
                      .dropdown.block-company-wrapper.hidden-xs
                        a.block-company.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                          | More 
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href='about_us.html')  About Us 
                          li
                            a(href='#')  Customer Service 
                          li
                            a(href='#')  Privacy Policy 
                          li
                            a(href='sitemap.html') Site Map 
                          li
                            a(href='#') Search Terms 
                          li
                            a(href='#') Advanced Search 
                    li
                      a(href='account_page.html')
                        span.hidden-xs Log In
              // End Header Top Links
      .container
        .row
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            .jtv-top-cart-box
              // Top Cart
              .mini-cart
                .basket.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown')
                  a(href='shopping_cart.html')
                    span.cart_count 2
                    span.price My Bag / $259.00
                div
                  .jtv-top-cart-content
                    // block-subtitle
                    ul#cart-sidebar.mini-products-list
                      li.item.first
                        .item-inner
                          a.product-image(title='Product Title Here ref=')
                            img(alt='Product Title Here', src='images/products/img01.jpg')
                          .product-details
                            .access
                              a.jtv-btn-remove(title='Remove This Item', href='#') Remove
                              a.btn-edit(title='Edit item', href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            p.product-name
                              a(href='#') Product Title Here
                            strong 1
                            |  x 
                            span.price $79.99
                      li.item
                        .item-inner
                          a.product-image(title='Product Title Here ref=')
                            img(alt='Product Title Here', src='images/products/img02.jpg')
                          .product-details
                            .access
                              a.jtv-btn-remove(title='Remove This Item', href='#') Remove
                              a.btn-edit(title='Edit item', href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            p.product-name
                              a(href='#') Product Title Here
                            strong 1
                            |  x 
                            span.price $88.89
                      li.item.last
                        .item-inner
                          a.product-image(title='Product Title Here ref=')
                            img(alt='Product Title Here', src='images/products/img04.jpg')
                          .product-details
                            .access
                              a.jtv-btn-remove(title='Remove This Item', href='#') Remove
                              a.btn-edit(title='Edit item', href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            p.product-name
                              a(href='#') Product Title Here
                            strong 1
                            |  x 
                            span.price $85.99
                    // actions
                    .actions
                      button.btn-checkout(title='Checkout', type='button', onclick='checkout.html')
                        span Checkout
                      a.view-cart(href='shopping_cart.html')
                        span View Cart
          .col-lg-6.col-md-4.col-sm-4.col-xs-12.jtv-logo-box
            // Header Logo
            .logo
              a(title='eCommerce', href='index.html')
                img(alt='eCommerce', src='images/logo.png')
            // End Header Logo
          .col-lg-3.col-md-4.col-sm-4.col-xs-12.hidden-xs
            .search-box
              form#search_mini_form(action='cat', method='POST', name='Categories')
                input#search(type='text', placeholder='Search entire store here...', value='Search', maxlength='70', name='search')
                button.search-btn-bg(type='button')
                  span.glyphicon.glyphicon-search
