doctype html
head
  // Basic page needs
  meta(charset='utf-8')
  //if IE
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title ShopMart premium HTML5 &amp; CSS3 template
  meta(name='description' content='best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template')
  meta(name='keywords' content='bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template')
  // Mobile specific metas
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Favicon
  link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
  // CSS Style
  link(rel='stylesheet' href='style.css')
// mobile menu
#jtv-mobile-menu
  ul
    li
      .jtv-search-mob
        form#search1(name='search')
          .input-group
            .input-group-btn
              button.btn.btn-default(type='submit')
                i.fa.fa-search
            input#srch-term.form-control.simple(type='text' placeholder='Search ...' name='srch-term')
    li
      a(href='index.html') Home
      ul
        li
          a(href='../index.html')
            span Home Version 1
        li
          a(href='index.html')
            span Home Version 2
        li
          a(href='../version3/index.html')
            span Home Version 3
        li
          a(href='../version4/index.html')
            span Home Version 4
    li
      a(href='#') Pages
      ul
        li
          a(href='shop_grid.html')
            span Shop Grid
          ul
            li
              a(href='shop_grid_right.html')
                span Shop Grid Right Sidebar
            li
              a(href='shop_grid_fullwidth.html')
                span Shop Grid Fullwidth
        li
          a(href='shop_list.html')
            span Shop List
          ul
            li
              a(href='shop_list_right.html')
                span Shop List Right Sidebar
        li
          a(href='single_product.html')
            span Single Product
        li
          a(href='shopping_cart.html')
            span Shopping Cart
        li
          a(href='checkout.html')
            span Checkout
        li
          a(href='wishlist.html')
            span Wishlist
        li
          a(href='compare.html')
            span Compare
        li
          a(href='quick_view.html')
            span Quick View
        li
          a(href='404error.html')
            span 404 Error Page
    li
      a(href='#') Smartphones
      ul
        li
          a(href='shop_grid.html')
            span Samsung Galaxy
          ul
            li
              a(href='shop_grid.html')
                span Toaster Crossbody
            li
              a(href='shop_grid.html')
                span Piper Bag
            li
              a(href='shop_grid.html')
                span Leather Bag
            li
              a(href='shop_grid.html')
                span Canvas Bag
        li
          a(href='shop_grid.html')
            span Lyf phones
          ul
            li
              a(href='shop_grid.html')
                span Travel Accessories
            li
              a(href='shop_grid.html')
                span Gym Phones
            li
              a(href='shop_grid.html')
                span Fashion Waist Packs
            li
              a(href='shop_grid.html')
                span Messenger Phones
        li
          a(href='shop_grid.html')
            span Apple phones
          ul
            li
              a(href='shop_grid.html')
                span Travel Duffels
            li
              a(href='shop_grid.html')
                span Umbrellas
            li
              a(href='shop_grid.html')
                span Waist Packs
            li
              a(href='shop_grid.html')
                span Travel Gear
        li
          a(href='shop_grid.html')
            span Vivo phones
          ul
            li
              a(href='shop_grid.html')
                span Luggage
            li
              a(href='shop_grid.html')
                span Briefcases
            li
              a(href='shop_grid.html')
                span Bowling
            li
              a(href='shop_grid.html')
                span Bucket Bag
        li
          a(href='shop_grid.html')
            span Blackberry phones
          ul
            li
              a(href='shop_grid.html')
                span Crossbody Bag
            li
              a(href='shop_grid.html')
                span Clutch Handbag
            li
              a(href='shop_grid.html')
                span Hobo Shoulder
            li
              a(href='shop_grid.html')
                span Saddle Bag
        li
          a(href='shop_grid.html')
            span Sony phones
          ul
            li
              a(href='shop_grid.html')
                span BlackBerry
            li
              a(href='shop_grid.html')
                span Solo Premium 
            li
              a(href='shop_grid.html')
                span Laptop Phones
            li
              a(href='shop_grid.html')
                span Belts
    li
      a(href='shop_grid.html') Camera &amp; Photo
      ul
        li
          a(href='shop_grid.html')
            span Photron
          ul
            li
              a(href='shop_grid.html')
                span Elegant 
            li
              a(href='shop_grid.html')
                span sassy &amp; chic
            li
              a(href='shop_grid.html')
                span Women&apos;s Satchel
            li
              a(href='shop_grid.html')
                span Shoulder Bag
        li
          a(href='shop_grid.html')
            span Canon
          ul
            li
              a(href='shop_grid.html')
                span fashion Backpack
            li
              a(href='shop_grid.html')
                span Rose Gold Saffiano
            li
              a(href='shop_grid.html')
                span Black Velvet
            li
              a(href='shop_grid.html')
                span Leather Handbags
        li
          a(href='shop_grid.html')
            span Nikon
          ul
            li
              a(href='shop_grid.html')
                span Sling Bag
            li
              a(href='shop_grid.html')
                span Diaper Phones
            li
              a(href='shop_grid.html')
                span Laptop Backpack
            li
              a(href='shop_grid.html')
                span Benetton Black 
        li
          a(href='shop_grid.html')
            span Envie
          ul
            li
              a(href='shop_grid.html')
                span Graphite Croco
            li
              a(href='shop_grid.html')
                span Swiss Military Red
            li
              a(href='shop_grid.html')
                span Hidesign
            li
              a(href='shop_grid.html')
                span Benetton
        li
          a(href='shop_grid.html')
            span Aquatan
          ul
            li
              a(href='shop_grid.html')
                span Travel Blue
            li
              a(href='shop_grid.html')
                span Charles &amp; Keith
            li
              a(href='shop_grid.html')
                span Clutches
            li
              a(href='shop_grid.html')
                span wristlets
        li
          a(href='shop_grid.html')
            span Fuji
          ul
            li
              a(href='shop_grid.html')
                span wallets
            li
              a(href='shop_grid.html')
                span shoulder bags
            li
              a(href='shop_grid.html')
                span leather totes
            li
              a(href='shop_grid.html')
                span satchels
    li
      a(href='shop_grid.html') Laptop bags
    li
      a(href='shop_grid.html') Apple Store
    li
      a(href='shop_grid.html') Computers
  .jtv-top-link-mob
    ul.links
      li
        a(title='My Account' href='account_page.html') My Account
      li
        a(title='Wishlist' href='wishlist.html') Wishlist
      li
        a(title='Checkout' href='checkout.html') Checkout
      li
        a(title='Blog' href='blog.html')
          span Blog
      li.last
        a(title='Login' href='account_page.html')
          span Login
#page
  //if lt IE 8
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
  // Header
  header
    .header-container
      .header-top
        .container
          .row
            // Header Language
            .col-xs-12.col-sm-4.col-md-6
              .welcome-msg Welcome to our store! 
              .dropdown.jtv-language-box
                a.block-language.dropdown-toggle(role='button' data-toggle='dropdown' data-target='#' href='#')
                  img.img-responsive(src='images/flag-english.jpg' alt='language')
                  |  English 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a.selected(href='#')
                      img.img-responsive(src='images/flag-english.jpg' alt='flag')
                      span English
                  li
                    a(href='#')
                      img.img-responsive(src='images/flag-default.jpg' alt='flag')
                      span French
                  li
                    a(href='#')
                      img.img-responsive(src='images/flag-german.jpg' alt='flag')
                      span German
                  li
                    a(href='#')
                      img.img-responsive(src='images/flag-brazil.jpg' alt='flag')
                      span Brazil
                  li
                    a(href='#')
                      img.img-responsive(src='images/flag-chile.jpg' alt='flag')
                      span Chile
                  li
                    a(href='#')
                      img.img-responsive(src='images/flag-spain.jpg' alt='flag')
                      span Spain
              // End Header Language
              // Header Currency
              .dropdown.jtv-currency-box
                a.block-currency.dropdown-toggle(role='button' data-toggle='dropdown' data-target='#' href='#')
                  | USD 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#')  $ - Dollar 
                  li
                    a(href='#')  &pound; - Pound 
                  li
                    a(href='#')  &euro; - Euro 
              // End Header Currency
            .col-xs-6.col-sm-8.col-md-6.hidden-xs
              // Header Top Links
              .jtv-top-links
                .links
                  ul
                    li
                      a(title='My Account' href='account_page.html')
                        span.hidden-xs My Account
                    li
                      a(title='Wishlist' href='wishlist.html') Wishlist
                    li
                      a(title='Checkout' href='checkout.html')
                        span.hidden-xs Checkout
                    li
                      .dropdown.block-company-wrapper.hidden-xs
                        a.block-company.dropdown-toggle(role='button' data-toggle='dropdown' data-target='#' href='#')
                          | More 
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href='about_us.html')  About Us 
                          li
                            a(href='#')  Customer Service 
                          li
                            a(href='#')  Privacy Policy 
                          li
                            a(href='sitemap.html') Site Map 
                          li
                            a(href='#') Search Terms 
                          li
                            a(href='#') Advanced Search 
                    li
                      a(href='account_page.html')
                        span.hidden-xs Log In
              // End Header Top Links
      .container
        .row
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            .jtv-top-cart-box
              // Top Cart
              .mini-cart
                .basket.dropdown-toggle(data-toggle='dropdown' data-hover='dropdown')
                  a(href='shopping_cart.html')
                    i.pe-7s-cart
                    span.cart_count 2
                    span.price My Cart / $259.00
                div
                  .jtv-top-cart-content
                    // block-subtitle
                    ul#cart-sidebar.mini-products-list
                      li.item.first
                        .item-inner
                          a.product-image(title='Product Title Here' ref='#')
                            img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                          .product-details
                            .access
                              a.jtv-btn-remove(title='Remove This Item' href='#') Remove
                              a.btn-edit(title='Edit item' href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            p.product-name
                              a(href='#') Product Title Here
                            strong 1
                            |  x 
                            span.price $79.99
                      li.item
                        .item-inner
                          a.product-image(title='Product Title Here' href='single_product.html')
                            img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                          .product-details
                            .access
                              a.jtv-btn-remove(title='Remove This Item' href='#') Remove
                              a.btn-edit(title='Edit item' href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            p.product-name
                              a(href='#') Product Title Here
                            strong 1
                            |  x 
                            span.price $88.89
                      li.item.last
                        .item-inner
                          a.product-image(title='Product Title Here' href='single_product.html')
                            img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                          .product-details
                            .access
                              a.jtv-btn-remove(title='Remove This Item' href='#') Remove
                              a.btn-edit(title='Edit item' href='#')
                                i.icon-pencil
                                span.hidden Edit item
                            p.product-name
                              a(href='#') Product Title Here
                            strong 1
                            |  x 
                            span.price $85.99
                    // actions
                    .actions
                      button.btn-checkout(title='Checkout' type='button' onclick='checkout.html')
                        span Checkout
                      a.view-cart(href='shopping_cart.html')
                        span View Cart
          .col-lg-6.col-md-4.col-sm-4.col-xs-12.jtv-logo-box
            // Header Logo
            .logo
              a(title='eCommerce' href='index.html')
                img.img-responsive(alt='eCommerce' src='images/logo.png')
            // End Header Logo
          .col-lg-3.col-md-4.col-sm-4.col-xs-12.hidden-xs
            .search-box
              form#search_mini_form(action='cat' method='POST' name='Categories')
                input#search(type='text' placeholder='Search entire store here...' value='Search' maxlength='70' name='search')
                button.search-btn-bg(type='button')
                  i.pe-7s-search
  // end header
  // Navigation
  nav
    .container
      .nav-inner
        .mm-toggle-wrap.hidden-sm.hidden-md.hidden-lg
          .mm-toggle
            i.fa.fa-align-justify
            span.mm-label Categories
        // BEGIN NAV
        ul#nav.hidden-xs
          li.drop-menu
            a.level-top.active(href='index.html')
              span Home
            ul
              li
                a(href='../index.html')
                  span Home Version 1
              li
                a(href='index.html')
                  span Home Version 2
              li
                a(href='../version3/index.html')
                  span Home Version 3
              li
                a(href='../version4/index.html')
                  span Home Version 4
              li
                a(href='../version3/index.html')
                  span Home Version 3
              li
                a(href='../version4/index.html')
                  span Home Version 4
          li.drop-menu
            a(href='#')
              span Pages
            ul
              li.sub-cat
                a(href='shop_grid.html')
                  span Shop Grid
                ul
                  li
                    a(href='shop_grid_right.html')
                      span Shop Grid Right Sidebar
                  li
                    a(href='shop_grid_fullwidth.html')
                      span Shop Grid Fullwidth
              li.sub-cat
                a(href='shop_list.html')
                  span Shop List
                ul
                  li
                    a(href='shop_list_right.html')
                      span Shop List Right Sidebar
              li
                a(href='single_product.html')
                  span Single Product
              li
                a(href='shopping_cart.html')
                  span Shopping Cart
              li
                a(href='checkout.html')
                  span Checkout
              li
                a(href='wishlist.html')
                  span Wishlist
              li
                a(href='compare.html')
                  span Compare
              li
                a(href='quick_view.html')
                  span Quick View
              li
                a(href='404error.html')
                  span 404 Error Page
          li.mega-menu
            a.level-top(href='shop_grid.html')
              span Smartphones
            .jtv-menu-block-wrapper
              .jtv-menu-block-wrapper2
                .nav-block.jtv-nav-block-center
                  .col-1
                    ul.level0
                      li.parent.item
                        a(href='shop_grid.html')
                          span Micromax Canvas
                        ul.level1
                          li
                            a(href='shop_grid.html')
                              span Computer Systems
                          li
                            a(href='shop_grid.html')
                              span Digital Timer
                          li
                            a(href='shop_grid.html')
                              span Dell Laptops
                          li
                            a(href='shop_grid.html')
                              span Dish Antenna
                      li.parent.item
                        a(href='shop_grid.html')
                          span Coolpad Note 3
                        ul.level1
                          li
                            a(href='shop_grid.html')
                              span Data Cables
                          li
                            a(href='shop_grid.html')
                              span HTC U11
                          li
                            a(href='shop_grid.html')
                              span Premium Dual
                          li
                            a(href='shop_grid.html')
                              span Coolpad
                      li.parent.item
                        a(href='shop_grid.html')
                          span Lenovo Phab 2
                        ul.level1
                          li
                            a(href='shop_grid.html')
                              span Honor 6X
                          li
                            a(href='shop_grid.html')
                              span Lenovo Vibe K5
                          li
                            a(href='shop_grid.html')
                              span Cases &amp; Covers
                          li
                            a(href='shop_grid.html')
                              span Oppo F3 Plus
                      li.parent.item
                        a(href='shop_grid.html')
                          span Moto G Plus
                        ul.level1
                          li
                            a(href='shop_grid.html')
                              span Screen Protectors
                          li
                            a(href='shop_grid.html')
                              span Moto G5 Plus
                          li
                            a(href='shop_grid.html')
                              span HTC U Play
                          li
                            a(href='shop_grid.html')
                              span Infocus Turbo 5
                      li.parent.item
                        a(href='shop_grid.html')
                          span Lenovo K8 Note
                        ul.level1
                          li
                            a(href='shop_grid.html')
                              span Mobile Chargers
                          li
                            a(href='shop_grid.html')
                              span VR headsets
                          li
                            a(href='shop_grid.html')
                              span Bluetooth headsets
                          li
                            a(href='shop_grid.html')
                              span Samsung On PRO
                      li.parent.item
                        a(href='shop_grid.html')
                          span Sony Xperia XZ
                        ul.level1
                          li
                            a(href='shop_grid.html')
                              span Mobile Phones
                          li
                            a(href='shop_grid.html')
                              span Asus Micromax
                          li
                            a(href='shop_grid.html')
                              span Moto G Plus 4th Gen
                          li
                            a(href='shop_grid.html')
                              span Power Banks
                  .col-2
                    .jtv-nav-image1
                      a(title='' href='#')
                        img.img-responsive(alt='menu_image' src='images/menu-img1.jpg')
          li.mega-menu
            a.level-top(href='shop_grid.html')
              span Camera &amp; Photo
            .jtv-menu-block-wrapper
              .jtv-menu-block-wrapper2
                .nav-block.jtv-nav-block-center
                  ul.level0
                    li.parent.item
                      a(href='shop_grid.html')
                        span Mirrorless Cameras
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Fujifilm
                        li
                          a(href='shop_grid.html')
                            span sports
                        li
                          a(href='shop_grid.html')
                            span Accessories
                        li
                          a(href='shop_grid.html')
                            span Phones &amp; Cases
                    li.parent.item
                      a(href='shop_grid.html')
                        span Digital Cameras
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Film Photography
                        li
                          a(href='shop_grid.html')
                            span Printers &amp; Scanners
                        li
                          a(href='shop_grid.html')
                            span Projectors
                        li
                          a(href='shop_grid.html')
                            span Tripods &amp; Monopods
                    li.parent.item
                      a(href='shop_grid.html')
                        span Security Cameras
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Surveillance
                        li
                          a(href='shop_grid.html')
                            span Photograph
                        li
                          a(href='shop_grid.html')
                            span Lighting &amp; Studio
                        li
                          a(href='shop_grid.html')
                            span Flashes
                    li.parent.item
                      a(href='shop_grid.html')
                        span Action Cameras
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Graphite Croco
                        li
                          a(href='shop_grid.html')
                            span Swiss Military Red
                        li
                          a(href='shop_grid.html')
                            span Hidesign
                        li
                          a(href='shop_grid.html')
                            span Benetton
                    li.parent.item
                      a(href='shop_grid.html')
                        span Digital SLRs
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Adorama Camera
                        li
                          a(href='shop_grid.html')
                            span Entegron
                        li
                          a(href='shop_grid.html')
                            span Camera &amp; Video
                        li
                          a(href='shop_grid.html')
                            span Focus Camera
                    li.parent.item
                      a(href='shop_grid.html')
                        span Olympus
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Unique Photo
                        li
                          a(href='shop_grid.html')
                            span Multimeter
                        li
                          a(href='shop_grid.html')
                            span Digital Panel
                        li
                          a(href='shop_grid.html')
                            span Heating Devices
                .jtv-nav-banner
                  .jtv-banner-box
                    .jtv-nav-banner-img
                      a(href='#')
                        img.img-responsive(src='images/menu-img2.jpg' alt='Handbag')
                  .jtv-banner-box
                    .jtv-nav-banner-img
                      a(href='#')
                        img.img-responsive(src='images/menu-img3.jpg' alt='Handbag')
                  .jtv-banner-box.jtv-banner-box_last
                    .jtv-nav-banner-img
                      a(href='#')
                        img.img-responsive(src='images/menu-img4.jpg' alt='Handbag')
          li.mega-menu
            a.level-top(href='shop_grid.html')
              span Apple Store
            .jtv-menu-block-wrapper
              .jtv-menu-block-wrapper2
                .nav-block.jtv-nav-block-center
                  ul.level0
                    li.parent.item
                      a(href='shop_grid.html')
                        span Apple iPhone 7
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Hobo Bag
                        li
                          a(href='shop_grid.html')
                            span Fabric Bag
                        li
                          a(href='shop_grid.html')
                            span Backpack Bga
                        li
                          a(href='shop_grid.html')
                            span Laptop Bga
                    li.parent.item
                      a(href='shop_grid.html')
                        span TV/Movies
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Print Laptop Bag
                        li
                          a(href='shop_grid.html')
                            span Office Bag
                        li
                          a(href='shop_grid.html')
                            span shoulder bags
                        li
                          a(href='shop_grid.html')
                            span leather totes
                    li.parent.item
                      a(href='shop_grid.html')
                        span Comics &amp; Cartoons
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span leather totes
                        li
                          a(href='shop_grid.html')
                            span Office Bag 
                        li
                          a(href='shop_grid.html')
                            span Fabric Bag
                        li
                          a(href='shop_grid.html')
                            span WallyPhones
                    li.parent.item
                      a(href='shop_grid.html')
                        span Professional
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Clutches bag
                        li
                          a(href='shop_grid.html')
                            span Genuine bag 
                        li
                          a(href='shop_grid.html')
                            span WallyPhones 
                        li
                          a(href='shop_grid.html')
                            span Leather Phones
                    li.parent.item
                      a(href='shop_grid.html')
                        span Sports
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Vivo Mobiles
                        li
                          a(href='shop_grid.html')
                            span Moto Z Play
                        li
                          a(href='shop_grid.html')
                            span Moto G5 Plus
                        li
                          a(href='shop_grid.html')
                            span Infocus Turbo 5
                    li.parent.item
                      a(href='shop_grid.html')
                        span Sony Xperia
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Coolpad Mega 3
                        li
                          a(href='shop_grid.html')
                            span Oppo F3 Plus
                        li
                          a(href='shop_grid.html')
                            span Asus Zenfone
                        li
                          a(href='shop_grid.html')
                            span Samsung On8
          li.mega-menu
            a.level-top(href='shop_grid.html')
              span Computers
            .jtv-menu-block-wrapper
              .jtv-menu-block-wrapper2
                .nav-block.jtv-nav-block-center.jtv-menu-box-left
                  ul.level0
                    li.parent.item
                      a(href='shop_grid.html')
                        span Desktops
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Accessories
                        li
                          a(href='shop_grid.html')
                            span Computer Systems
                        li
                          a(href='shop_grid.html')
                            span Motherboards
                        li
                          a(href='shop_grid.html')
                            span Computer Scanners
                    li.parent.item
                      a(href='shop_grid.html')
                        span Tablet PC
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Computer Cables
                        li
                          a(href='shop_grid.html')
                            span Transformer Testing
                        li
                          a(href='shop_grid.html')
                            span Hard Disk Drive
                        li
                          a(href='shop_grid.html')
                            span RAM Card
                    li.parent.item
                      a(href='shop_grid.html')
                        span Laptops
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span USB Pen Drive
                        li
                          a(href='shop_grid.html')
                            span Desktop Computer
                        li
                          a(href='shop_grid.html')
                            span Mainframes
                        li
                          a(href='shop_grid.html')
                            span Flash Driv
                    li.parent.item
                      a(href='shop_grid.html')
                        span Industrial Computer
                      ul.level1
                        li
                          a(href='shop_grid.html')
                            span Connectors
                        li
                          a(href='shop_grid.html')
                            span Graphics Card
                        li
                          a(href='shop_grid.html')
                            span PCI Cards
                        li
                          a(href='shop_grid.html')
                            span Cables &amp; Modules
                .nav-block.nav-block-right.std.jtv-menu-box-right
                  img.img-responsive(src='images/menu-img5.jpg' alt='menu img')
          li.mega-menu
            a.level-top(href='blog.html')
              span Blog
          li.nav-custom-link.mega-menu
            a.level-top(href='#')
              span Buy this theme
            .jtv-menu-block-wrapper.custom-menu
              .header-nav-dropdown-wrapper
                .jtv-custom-box
                  i.fa.fa-laptop
                  h4.heading 100% Responsive Design
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                .jtv-custom-box
                  i.fa.fa-book
                  h4.heading Easy Document
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim erat ut laoreet pharetra.
                .jtv-custom-box
                  i.fa.fa-fort-awesome
                  h4.heading Awesome Icon Fonts
                  p
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .jtv-custom-box
                  i.fa.fa-home
                  h4.heading 4 Layout Home Pages
                  p
                    | Duis aute irure dolor in reprehenderit in voluptate velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  // end nav
  // JTV Home Slider
  .jtv-slideshow
    .container
      .row
        .col-md-9.col-sm-12
          #jtv-rev_slider_wrapper.rev_slider_wrapper.fullwidthbanner-container
            #jtv-rev_slider.rev_slider.fullwidthabanner
              ul
                li(data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slider/slide-img1.jpg')
                  img.img-responsive(src='images/slider/slide-img1.jpg' alt='slide-img' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat')
                  .info
                    .tp-caption.jtv-sub-title.sft.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap; color:#393b7d;')
                      span New Collection
                    .tp-caption.jtv-large-title.sfl.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;')
                      span(style='color:#000;') Stylish Look
                    .tp-caption.Title.sft.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap; color:#666;') Beautiful templates from our creative community.
                    .tp-caption.sfb.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap; font-size:18px;')
                      a.jtv-shop-now-btn(href='#') Shop Now
                li(data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slider/slide-img2.jpg')
                  img.img-responsive(src='images/slider/slide-img2.jpg' alt='slide-img' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat')
                  .info
                    .tp-caption.jtv-sub-title.sft.slide2.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px; color:#999;')
                      span On Day Sale!
                    .tp-caption.jtv-large-title.sfl.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap; color:#393b7d;') New Arrivals
                    .tp-caption.Title.sft.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;') A Perfect template to start selling your products.
                    .tp-caption.sfb.tp-resizeme(data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;')
                      a.jtv-shop-now-btn(href='#') Order now
        // end JTV Home Slider
        .col-md-3.col-sm-12
          .jtv-text-top-banner.col-sm-6.col-md-12
            a(href='/#' title='')
              img.img-responsive(src='images/banner-img1.jpg' alt='')
              span.jtv-b-content.bottom-left
                span.title
                  span.title-color Mens
                  br
                  span.black-text Collection
                span.text Never Miss a Second
                span.btn-buy
                  span Buy now
              span.jtv-b-price-box
                span.banner-text-wrapper
                  span.jtv-b-price-text From
                  span.jtv-b-price $99
          .jtv-text-top-banner.col-sm-6.col-md-12
            a(href='/#' title='')
              img.img-responsive(src='images/banner-img2.jpg' alt='')
              span.jtv-b-content.top-center
                span.title.white-text
                  | Smart Phone
                  br
                  |             Exclusively Available On
  // our features
  .our-features-box.hidden-xs
    .container
      .row
        .col-md-4.col-xs-12.col-sm-4
          .feature-box.first
            i.pe-7s-piggy
            .content
              h3 Reasonable pricing
              p To establish a selling price for a product
        .col-md-4.col-xs-12.col-sm-4
          .feature-box
            i.pe-7s-timer
            .content
              h3 Limited time offers
              p Hurry up! You Don&apos;t want to miss This!
        .col-md-4.col-xs-12.col-sm-4
          .feature-box
            i.pe-7s-headphones
            .content
              h3 24/7 client support
              p In order to provide 24X7 customer support
  .content-page
    .container
      // Product Tabs
      .category-product
        .navbar.nav-menu
          .navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(data-toggle='tab' href='#tab-1') New Arrivals
              li
                a(data-toggle='tab' href='#tab-2') Best Seller
              li
                a(data-toggle='tab' href='#tab-3') Latest Products
          // /.navbar-collapse
        .tab-container
          // tab product
          #tab-1.tab-panel.active
            .category-products
              ul.products-grid
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $155.00
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $95.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $225.00
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $229.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $99.00
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $99.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .new-label.new-top-left new
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              p.special-price
                                span.price-label Special Price
                                span.price  $156.00 
                              p.old-price
                                span.price-label Regular Price:
                                span.price  $167.00 
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .new-label.new-top-left new
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              p.special-price
                                span.price-label Special Price
                                span.price  $256.00 
                              p.old-price
                                span.price-label Regular Price:
                                span.price  $219.00 
          // tab product
          #tab-2.tab-panel
            .category-products
              ul.products-grid
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $155.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $225.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $99.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .new-label.new-top-left new
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              p.special-price
                                span.price-label Special Price
                                span.price  $156.00 
                              p.old-price
                                span.price-label Regular Price:
                                span.price  $167.00 
          #tab-3.tab-panel
            .category-products
              ul.products-grid
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $155.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $225.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              span.regular-price
                                span.price $99.00
                li.item.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .item-inner
                    .item-img
                      .item-img-info
                        a.product-image(title='Product Title Here' href='single_product.html')
                          img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                        .new-label.new-top-left new
                        .action
                          a(href='compare.html' title='Compare')
                            i.fa.fa-signal
                          a(href='quick_view.html' title='Quick view')
                            i.fa.fa-search
                          a(href='wishlist.html' title='Wishlist')
                            i.fa.fa-heart-o
                          a(href='shopping_cart.html' title='Add to cart')
                            i.fa.fa-shopping-cart
                    .item-info
                      .info-inner
                        .item-title
                          a(title='Product Title Here' href='single_product.html')  Product Title Here 
                        .item-content
                          .rating
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          .item-price
                            .price-box
                              p.special-price
                                span.price-label Special Price
                                span.price  $156.00 
                              p.old-price
                                span.price-label Regular Price:
                                span.price  $167.00 
  // jtv bottom banner section
  .container
    .row
      .col-sm-6
        .jtv-text-top-banner
          a(href='/#' title='')
            img.img-responsive(src='images/banner-img3.jpg' alt='')
            span.jtv-b-content.middle-left
              span.title
                span.skincolor Incredible Audio
                br
                small The Essence of Sound
              span.btn-buy
                span Shop now
      .col-sm-6
        .jtv-text-top-banner
          a(href='/#' title='')
            img.img-responsive(src='images/banner-img4.jpg' alt='')
            span.jtv-b-content.middle-left
              span.banner-label-wrapper
              span.title
                span.title-color iMac Refresh Arriving
                br
                small A touch of genius
              span.btn-buy
                span Buy now
  // bestsell Slider
  section.jtv-bestsell-section
    .container
      .slider-items-products
        .bestsell-block
          .jtv-block-inner
            .block-title
              h2 Best Sellers
          #bestsell-slider.product-flexslider.hidden-buttons
            .slider-items.slider-width-col4.products-grid.block-content
              .item
                .item-inner
                  .item-img
                    .item-img-info
                      a.product-image(title='Product Title Here' href='single_product.html')
                        img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                      .action
                        a(href='compare.html' title='Compare')
                          i.fa.fa-signal
                        a(href='quick_view.html' title='Quick view')
                          i.fa.fa-search
                        a(href='wishlist.html' title='Wishlist')
                          i.fa.fa-heart-o
                        a(href='shopping_cart.html' title='Add to cart')
                          i.fa.fa-shopping-cart
                  .item-info
                    .info-inner
                      .item-title
                        a(title='Product Title Here' href='single_product.html')  Product Title Here 
                      .item-content
                        .rating
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        .item-price
                          .price-box
                            span.regular-price
                              span.price $225.00
              .item
                .item-inner
                  .item-img
                    .item-img-info
                      a.product-image(title='Product Title Here' href='single_product.html')
                        img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                      .action
                        a(href='compare.html' title='Compare')
                          i.fa.fa-signal
                        a(href='quick_view.html' title='Quick view')
                          i.fa.fa-search
                        a(href='wishlist.html' title='Wishlist')
                          i.fa.fa-heart-o
                        a(href='shopping_cart.html' title='Add to cart')
                          i.fa.fa-shopping-cart
                  .item-info
                    .info-inner
                      .item-title
                        a(title='Product Title Here' href='single_product.html')  Product Title Here 
                      .item-content
                        .rating
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        .item-price
                          .price-box
                            span.regular-price
                              span.price $99.00
              .item
                .item-inner
                  .item-img
                    .item-img-info
                      a.product-image(title='Product Title Here' href='single_product.html')
                        img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                      .new-label.new-top-left new
                      .action
                        a(href='compare.html' title='Compare')
                          i.fa.fa-signal
                        a(href='quick_view.html' title='Quick view')
                          i.fa.fa-search
                        a(href='wishlist.html' title='Wishlist')
                          i.fa.fa-heart-o
                        a(href='shopping_cart.html' title='Add to cart')
                          i.fa.fa-shopping-cart
                  .item-info
                    .info-inner
                      .item-title
                        a(title='Product Title Here' href='single_product.html')  Product Title Here 
                      .item-content
                        .rating
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        .item-price
                          .price-box
                            p.special-price
                              span.price-label Special Price
                              span.price  $156.00 
                            p.old-price
                              span.price-label Regular Price:
                              span.price  $167.00 
              .item
                .item-inner
                  .item-img
                    .item-img-info
                      a.product-image(title='Product Title Here' href='single_product.html')
                        img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                      .action
                        a(href='compare.html' title='Compare')
                          i.fa.fa-signal
                        a(href='quick_view.html' title='Quick view')
                          i.fa.fa-search
                        a(href='wishlist.html' title='Wishlist')
                          i.fa.fa-heart-o
                        a(href='shopping_cart.html' title='Add to cart')
                          i.fa.fa-shopping-cart
                  .item-info
                    .info-inner
                      .item-title
                        a(title='Product Title Here' href='single_product.html')  Product Title Here 
                      .item-content
                        .rating
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        .item-price
                          .price-box
                            span.regular-price
                              span.price $225.00
              .item
                .item-inner
                  .item-img
                    .item-img-info
                      a.product-image(title='Product Title Here' href='single_product.html')
                        img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                      .action
                        a(href='compare.html' title='Compare')
                          i.fa.fa-signal
                        a(href='quick_view.html' title='Quick view')
                          i.fa.fa-search
                        a(href='wishlist.html' title='Wishlist')
                          i.fa.fa-heart-o
                        a(href='shopping_cart.html' title='Add to cart')
                          i.fa.fa-shopping-cart
                  .item-info
                    .info-inner
                      .item-title
                        a(title='Product Title Here' href='single_product.html')  Product Title Here 
                      .item-content
                        .rating
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        .item-price
                          .price-box
                            span.regular-price
                              span.price $99.00
              .item
                .item-inner
                  .item-img
                    .item-img-info
                      a.product-image(title='Product Title Here' href='single_product.html')
                        img.img-responsive(alt='Product Title Here' src='images/products/img01.jpg')
                      .new-label.new-top-left new
                      .action
                        a(href='compare.html' title='Compare')
                          i.fa.fa-signal
                        a(href='quick_view.html' title='Quick view')
                          i.fa.fa-search
                        a(href='wishlist.html' title='Wishlist')
                          i.fa.fa-heart-o
                        a(href='shopping_cart.html' title='Add to cart')
                          i.fa.fa-shopping-cart
                  .item-info
                    .info-inner
                      .item-title
                        a(title='Product Title Here' href='single_product.html')  Product Title Here 
                      .item-content
                        .rating
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        .item-price
                          .price-box
                            p.special-price
                              span.price-label Special Price
                              span.price  $156.00 
                            p.old-price
                              span.price-label Regular Price:
                              span.price  $167.00 
  // End Bestsell Slider
  // Latest Blog
  .container
    .row
      .col-lg-5.col-md-6.col-sm-12.col-xs-12(data-wow-delay='0.2s')
        .jtv-testimonial-block
          .block-title
            h2 Testimonial
          #quote-carousel.carousel.slide(data-ride='carousel')
            // Carousel Slides / Quotes
            .carousel-inner.text-center
              // Quote 1
              .item
                blockquote
                  .row
                    .col-sm-12
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. quis nostrud exercitation ullamco laboris nisi ut aliquip quis!
                      .holder-info
                        strong.name Vince Roy
                        strong.designation CEO, XYZ Softwear
              // Quote 2
              .item
                blockquote
                  .row
                    .col-sm-12
                      p
                        | Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum.
                      .holder-info
                        strong.name John Doe
                        strong.designation CEO, ABC Softwear
              // Quote 3
              .item.active
                blockquote
                  .row
                    .col-sm-12
                      p
                        | Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna. Aliquam sollicitudin urna nec felis blandit sodales. In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum, ipsum odio consequat justo, consectetur dignissim enim sapien ut nulla. Nunc massa ligula, fermentum sed nisl sed, lacinia vestibulum mi.
                      .holder-info
                        strong.name John Doe
                        strong.designation Managing Director
            // Bottom Carousel Indicators
            ol.carousel-indicators
              li(data-target='#quote-carousel' data-slide-to='0')
                img.img-responsive(src='images/testimonials-img1.jpg' alt='')
              li(data-target='#quote-carousel' data-slide-to='1')
                img.img-responsive(src='images/testimonials-img2.jpg' alt='')
              li.active(data-target='#quote-carousel' data-slide-to='2')
                img.img-responsive(src='images/testimonials-img3.jpg' alt='')
            // Carousel Buttons Next/Prev
            a.left.carousel-control(data-slide='prev' href='#quote-carousel')
              i.fa.fa-chevron-left
            a.right.carousel-control(data-slide='next' href='#quote-carousel')
              i.fa.fa-chevron-right
      .col-lg-7.col-md-6.col-sm-12.col-xs-12
        .blog-outer-container
          .jtv-title
            h2 Latest Blog
          .blog-inner
            .col-sm-6
              .entry-thumb
                a(href='blog_single_post.html')
                  img.img-responsive(alt='Blog' src='images/blog-img1.jpg')
              .blog-preview_info
                h3
                  a(href='blog_single_post.html') Winter Morning ShopMart
                ul.post-meta
                  li
                    i.fa.fa-user
                    a(href='#') admin
                  li
                    i.fa.fa-comments
                    a(href='#') 12 comments
                  li
                    i.fa.fa-calendar
                    | 2017-02-25
                .blog-preview_desc
                  | In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum.
                a.blog-preview_btn(href='blog_single_post.html')
                  | Read More 
                  i.fa.fa-long-arrow-right
            .col-sm-6
              .entry-thumb
                a(href='blog_single_post.html')
                  img.img-responsive(alt='Blog' src='images/blog-img1.jpg')
              .blog-preview_info
                h3
                  a(href='blog_single_post.html') Perfect for promoting
                ul.post-meta
                  li
                    i.fa.fa-user
                    a(href='#') admin
                  li
                    i.fa.fa-comments
                    a(href='#') 45 comments
                  li
                    i.fa.fa-calendar
                    | 2017-04-05
                .blog-preview_desc
                  | Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.
                a.blog-preview_btn(href='blog_single_post.html')
                  | Read More 
                  i.fa.fa-long-arrow-right
  // End Latest Blog
  // Brand Logo
  .brand-logo
    .container
      .slider-items-products
        #brand-logo-slider.product-flexslider.hidden-buttons
          .slider-items.slider-width-col6
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand3.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand1.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand2.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand4.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand5.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand6.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand2.png' alt='Image')
            // End Item
            // Item
            .item
              a(href='#')
                img.img-responsive(src='images/brand4.png' alt='Image')
            // End Item
  .container
    .row
      .col-sm-4
        .jtv-text-top-banner
          a(href='/#' title='')
            img.img-responsive(src='images/banner-img6.jpg' alt='')
            span.jtv-b-content.top-left
              span.banner-label-wrapper
                span.banner-label.small.pink-bg
                  | 25%
                  br
                  em off
            span.jtv-b-content.bottom-left
              span.text Only in our store
              span.title
                span.black-text Special Offer
                br
                small Exclusive Savings
      .col-sm-4
        .jtv-text-top-banner
          a(href='/#' title='')
            img.img-responsive(src='images/banner-img8.jpg' alt='')
            span.jtv-b-content.top-center
              span.title
                span.black-text Smart Camera
                br
                small Superior Image Quality
      .col-sm-4
        .jtv-text-top-banner
          a(href='/#' title='')
            img.img-responsive(src='images/banner-img7.jpg' alt='')
            span.jtv-b-content.middle-center
              span.strong-title 45% OFF
            span.jtv-b-content.bottom-center
              span.text-left
                span.media-body.text-right
                  span.subtitle.skincolor
                    | Best
                    br
                    |           Headphones
            span.jtv-b-price-box
              span.banner-text-wrapper
                span.jtv-b-price-text From
                span.jtv-b-price $29
  // Footer
  footer
    .footer-top
      .container
        .row
          div(style='text-align:center')
            a(href='index.html')
              img.img-responsive(src='images/footer-logo.png' alt='logo')
          address
            p
              i.pe-7s-map-marker
              | Company, 12/34 - West 21st Street, New York, USA
            p
              i.pe-7s-call
              span + (800) 0123 456 789
            p
              i.pe-7s-mail-open
              span
                a(href='mailto:email@domain.com') support@themes.com
    .footer-inner
      .container
        .row
          .col-sm-4.col-xs-12.col-md-3
            .footer-links
              h4 Useful links
              ul.links
                li
                  a(href='#' title='Product Recall') Product Recall
                li
                  a(href='#' title='Gift Vouchers') Gift Vouchers
                li
                  a(href='#' title='Returns & Exchange') Returns &amp; Exchange
                li
                  a(href='#' title='Shipping Options') Shipping Options
                li
                  a(href='#' title='Help & FAQs') Help &amp; FAQs
                li
                  a(href='#' title='Order history') Order history
          .col-sm-4.col-xs-12.col-md-3
            .footer-links
              h4 Service
              ul.links
                li
                  a(href='account_page.html') Account
                li
                  a(href='wishlist.html') Wishlist
                li
                  a(href='shopping_cart.html') Shopping Cart
                li
                  a(href='#') Return Policy
                li
                  a(href='#') Special
                li
                  a(href='#') Lookbook
          .col-sm-4.col-xs-12.col-md-2
            .footer-links
              h4 Information
              ul.links
                li
                  a(href='sitemap.html') Sites Map 
                li
                  a(href='#') News
                li
                  a(href='#') Trends
                li
                  a(href='about_us.html') About Us
                li
                  a(href='contact_us.html') Contact Us
                li
                  a(href='#') My Orders
          .col-xs-12.col-sm-12.col-md-4
            .footer-links
              .footer-newsletter
                h4 Subscribe to our news
                form#newsletter-validate-detail(method='post' action='#')
                  .newsletter-inner
                    p Subscribe to be the first to know about Sales, Events, and Exclusive Offers!
                    input.newsletter-email(name='Email' placeholder='Enter Your Email')
                    button.button.subscribe(type='submit' title='Subscribe') Subscribe
              .social
                h4 Follow Us
                ul.inline-mode
                  li.social-network.fb
                    a(title='Connect us on Facebook' target='_blank' href='https://www.facebook.com')
                      i.fa.fa-facebook
                  li.social-network.googleplus
                    a(title='Connect us on Google+' target='_blank' href='https://plus.google.com')
                      i.fa.fa-google-plus
                  li.social-network.tw
                    a(title='Connect us on Twitter' target='_blank' href='https://twitter.com/')
                      i.icon-social-twitter.icons
                  li.social-network.linkedin
                    a(title='Connect us on Linkedin' target='_blank' href='https://www.pinterest.com/')
                      i.fa.fa-linkedin
                  li.social-network.rss
                    a(title='Connect us on rss' target='_blank' href='https://instagram.com/')
                      i.fa.fa-rss
                  li.social-network.instagram
                    a(title='Connect us on Instagram' target='_blank' href='https://instagram.com/')
                      i.fa.fa-instagram
    .footer-bottom
      .container
        .row
          .col-sm-7.col-md-6.col-xs-12.coppyright
            | Copyright &copy; 2017 
            a(href='#')  ShopMart 
            | . All Rights Reserved.
          .col-sm-5.col-md-6.col-xs-12.payment-accept
            ul
              li
                a(href='#')
                  img.img-responsive(src='images/payment-1.png' alt='Payment Card')
              li
                a(href='#')
                  img.img-responsive(src='images/payment-2.png' alt='Payment Card')
              li
                a(href='#')
                  img.img-responsive(src='images/payment-3.png' alt='Payment Card')
              li
                a(href='#')
                  img.img-responsive(src='images/payment-4.png' alt='Payment Card')
// End Footer
// jquery js
script(type='text/javascript' src='js/jquery.min.js')
// bootstrap js
script(type='text/javascript' src='js/bootstrap.min.js')
// owl.carousel.min js
script(type='text/javascript' src='js/owl.carousel.min.js')
// jtv-jtv-mobile-menu js
script(type='text/javascript' src='js/jtv-mobile-menu.js')
// countdown js
script(type='text/javascript' src='js/countdown.js')
// main js
script(type='text/javascript' src='js/main.js')
// rev-slider js
script(type='text/javascript' src='js/rev-slider.js')
script(type='text/javascript').
  jQuery(document).ready(function() {
  jQuery('#jtv-rev_slider').show().revolution({
  dottedOverlay: 'none',
  delay: 5000,
  startwidth: 945,
  startheight: 550,
  hideThumbs: 200,
  thumbWidth: 200,
  thumbHeight: 50,
  thumbAmount: 2,
  navigationType: 'thumb',
  navigationArrows: 'solo',
  navigationStyle: 'round',
  touchenabled: 'on',
  onHoverStop: 'on',
  swipe_velocity: 0.7,
  swipe_min_touches: 1,
  swipe_max_touches: 1,
  drag_block_vertical: false,
  spinner: 'spinner0',
  keyboardNavigation: 'off',
  navigationHAlign: 'center',
  navigationVAlign: 'bottom',
  navigationHOffset: 0,
  navigationVOffset: 20,
  soloArrowLeftHalign: 'left',
  soloArrowLeftValign: 'center',
  soloArrowLeftHOffset: 20,
  soloArrowLeftVOffset: 0,
  soloArrowRightHalign: 'right',
  soloArrowRightValign: 'center',
  soloArrowRightHOffset: 20,
  soloArrowRightVOffset: 0,
  shadow: 0,
  fullWidth: 'on',
  fullScreen: 'off',
  stopLoop: 'off',
  stopAfterLoops: -1,
  stopAtSlide: -1,
  shuffle: 'off',
  autoHeight: 'off',
  forceFullWidth: 'on',
  fullScreenAlignForce: 'off',
  minFullScreenHeight: 0,
  hideNavDelayOnMobile: 1500,
  hideThumbsOnMobile: 'off',
  hideBulletsOnMobile: 'off',
  hideArrowsOnMobile: 'off',
  hideThumbsUnderResolution: 0,
  hideSliderAtLimit: 0,
  hideCaptionAtLimit: 0,
  hideAllCaptionAtLilmit: 0,
  startWithSlide: 0,
  fullScreenOffsetContainer: ''
  });
  });
// Hot Deals Timer 1
script(type='text/javascript').
  var dthen1 = new Date("12/25/17 11:59:00 PM");
  start = "08/04/15 03:02:11 AM";
  start_date = Date.parse(start);
  var dnow1 = new Date(start_date);
  if (CountStepper > 0)
  ddiff = new Date((dnow1) - (dthen1));
  else
  ddiff = new Date((dthen1) - (dnow1));
  gsecs1 = Math.floor(ddiff.valueOf() / 1000);
  var iid1 = "countbox_1";
  CountBack_slider(gsecs1, "countbox_1", 1);
// Newsletter Popup Start
#myModal.modal.fade
  .modal-dialog.newsletter-popup
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
      .modal-body
        h4.modal-title Signup Newsletter
        form#newsletter-form(method='post' action='#')
          .content-subscribe
            .form-subscribe-header
              label
                | Subscribe to our newsletters and don&apos;t miss new arrivals,
                br
                |                 the latest fashion updates and our promotions.
            .input-box
              input.input-text.newsletter-subscribe(type='text' title='Sign up for our newsletter' name='email' placeholder='Enter your email address')
            .actions
              button.button-subscribe(title='Subscribe' type='submit') Subscribe
        .subscribe-bottom
          input#notshowpopup(name='notshowpopup' type='checkbox')
          |           Don&rsquo;t show this popup again
// End of Newsletter Popup
